.u-section-1 .u-sheet-1 {
  min-height: 484px;
}

.u-section-1 .u-image-1 {
  width: 361px;
  height: 361px;
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 257px;
}

.u-section-2 .u-text-1 {
  margin: 24px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 460px;
}

.u-section-3 .u-shape-1 {
  width: 250px;
  height: 250px;
  animation-timing-function: ease;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    --animation-custom_in-translate_x: 50px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 0.3;
  }
}